* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
}

@font-face {
    font-family: Bebas;
    src: url(Bebas.otf);
}

@font-face {
    font-family: Bebas2;
    src: url(Bebas5.ttf);
}

body{
    background: url(back.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.link-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 40px auto;
    gap: 20px;
}

.link-bio img{
    width: 150px;
    height: 150px;
    border: solid 3px rgb(255, 255, 255);
    border-radius: 50%;
}

.img1 {
    background: rgb(123,132,321) no-repeat;
    width: 50px;
    height: 100px;
    text-align: center;
    font-family: havelock;
}

.img2 {
    background: url(spo.jpg) no-repeat;
    width: 50px;
    height: 100px;
    text-align: center;
    font-family: havelock;
}

.link-bio h1{
    font-size: 40px;
}

.link-bio a {
    background: rgb(17,61,108) no-repeat;
    color: rgb(255, 255, 255);
    padding: 15px;
    width: 250px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    border: solid 2px rgb(255, 255, 255);
    border-radius: 50px;
}

.link-bio a:hover {
    background-color: rgb(92,254,254);
}

.titulo3 {
    text-align: center;
    font-family: Bebas2;
}

.titulo2 {
    text-align: center;
    font-family: Bebas;
}

.rodape {
    text-align: center;
}